@using BowntDAL;
@model BowntDAL.tb_File
@{
    ViewBag.Title = "SetFile";
    BowntdbEntities entities = new BowntdbEntities();
    var fileTypeList = entities.tb_FileType.ToList();
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">文件管理</a></li>
        <li><a href="#">设置文件</a></li>
    </ul>
</div>

<div class="formbody">
    <form action="@Url.Action("SetFile")" method="post" enctype="multipart/form-data">
        <div class="formtitle">
            <span>文件类型</span>
        </div>
        <div style="position:relative">
            <ul class="forminfo">
                <li>
                    <label>文件标题</label>
                    @Html.TextBoxFor(x => x.Title, new { required = "required", @class = "dfinput" })
                </li>
                <li>
                    <label>文件类型</label>
                    @Html.DropDownListFor(x => x.TypeId, fileTypeList.Select(a => new SelectListItem()
               {
                   Text = a.Type,
                   Value = a.Id.ToString(),
                   Selected = a.Id == Model.TypeId
               }), new { @class = "dfinput", required = "required" })
                </li>
                <li>
                    <label>文件</label>
                    <input type="file" name="file" class="dfinput" />
                </li>
                <li>
                    <label>&nbsp;</label>
                    <input type="submit" value="保存" class="btn btn-info" />
                </li>
            </ul>
        </div>
    </form>
</div>