@using BowntDAL;
@using ManagerUI.Models;
@{
    ViewBag.Title = "Add";
    var PicTypes = ViewBag.PicTypes as List<tb_PicType>;
}
@section head{
    <style>
        ._file {
            display: none;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $("#PicTypeId").change(function () {
                var value = $("#PicTypeId").val();

                if (value == 1) {
                    $("#isfile").show().attr("required", "required");
                } else {
                    $("._file").hide().removeAttr("required");
                    if ($("[name='isFile']").val() === "True") {
                        $("#file").show();
                    }
                }

                if (value == 2) {
                    $("#bgpic").show().attr("required", "required");
                }
                else {
                    $("#bgpic").hide().removeAttr("required");
                }
            });

            $("[name='isFile']").change(function () {
                var value = $(this).val();
                if (value === "True") {
                    $("#file").show();
                } else {
                    $("#file").hide();
                }
            });

            var value = $("#PicTypeId").val();
            if (value == 1) {
                $("._file").show();
                if ($("[name='isFile']").val() == "False") {
                    $("#file").hide();
                }
            } 

            if (value == 2) {
                $("#bgpic").show();
            } else {
                $("#bgpic").hide();
            }
        });
    </script>
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">图片管理</a></li>
        <li><a href="#">添加图片</a></li>
    </ul>
</div>

<div class="formbody">
    <form action="@Url.Action("Add")" method="post" enctype="multipart/form-data">
        <div class="formtitle">
            <span>封面信息</span>
        </div>
        <div style="position:relative">
            <ul class="forminfo">
                <li>
                    <label>名称</label>
                    <input name="Name" type="text" required class="dfinput" />
                </li>
                <li>
                    <label>图片类型</label>
                    @Html.DropDownList("PicTypeId", PicTypes.Select(a => new SelectListItem()
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(),
                    }), new { @class = "dfinput", required = "required" })
                </li>
                <li id="tupian">
                    <label>图片</label>
                    <input name="Picture" required type="file" class="dfinput" />
                </li>
                <li id="bgpic" style="display:none">
                    <label>背景图片</label>
                    <input name='picBg' class="dfinput" type='file' />
                </li>
                <li id="isfile" class="_file">
                    <label>是否文件</label>
                    <select class="dfinput" name="isFile">
                        <option value="False">否</option>
                        <option value="True">是</option>
                    </select>
                </li>
                <li id="file" class="_file">
                    <label>文件</label>
                    <input type="file" name="isFile" class="dfinput" />
                </li>
                <li>
                    <label>&nbsp;</label>
                    <input type="submit" value="保存" class="btn btn-info" />
                </li>
            </ul>
        </div>
    </form>
</div>