@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page500</title>
</head>
<body>
    <div>
        <h2>服务器出错了 请联系管理员</h2>
    </div>
</body>
</html>
