@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page404</title>
</head>
<body>
    <div style="text-align:center">
        <img src="~/Images/404.jpg" style="margin-top:20px;" />
    </div>
</body>
</html>
