@using BowntDAL;
@using CompanyUI.Models;
@{
    ViewBag.Title = "SOLUTIONS";
    BowntdbEntities entity = new BowntdbEntities();
    LanguageModel language = ViewBag.Language;
}

@section style{
    <link href="~/Content/filetype.css" rel="stylesheet" />
}

<div class="listbody" id="lb" style="height:500px;overflow-y:auto">
    @Html.Partial("FileType")
</div>