@using BowntDAL;
@using CompanyUI.Models;
@{
    ViewBag.Title = "SolutionList";
    BowntdbEntities entity = new BowntdbEntities();
    LanguageModel language = ViewBag.Language;
}


<div class="listbody" id="lb" style="height:500px;overflow-y:auto">
    @{
        var solution = entity.tb_Solution.FirstOrDefault(a => a.LanguageId == language.Id)
            ?? new tb_Solution();
    }
    @Html.Raw(solution.Content ?? string.Empty)
</div>