@{
    Layout = null;
}
<html doctype="html">
<head>
    <title></title>
    <style>
        body{
            display:flex;
            flex-direction:row-reverse;

            display:-webkit-box;
        }

        section{
          
        }
    </style>
</head>
<body>
    <header>我是页眉</header>
    <section>
        <article>我是主内容</article>
        <nav>我是侧边栏导航</nav>
        <aside>我是右边栏</aside>
    </section>
    <footer>我是底部栏</footer>
</body>
</html>